@import "tailwindcss";

@layer utilities {
  .hover-fade {
    @apply hover:opacity-70 transition-opacity duration-300;
  }
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  position: relative;
}

.outline * {
  outline: 1px solid #666;
}
